//- div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
	.container
		h1 Civis Analysis
		p.lead Encontre e analise as votações da Câmara dos Deputados 
		//- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
	.row
		.col-lg-12
			h1.page-header Últimas votações:
			ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='rollCall in rollCalls')
				li
					a(href='#', tooltip='{{rollCall.summary}}')
						| {{rollCall.summary}}
						//- button.close(type='button', ng-click='deleteThing(thing)') ×

footer.footer
	.container
		p
			| CivisAnalysis
			= ' | '
			a(href='https://www.facebook.com/francisco.gerdau.de.borja') @fgborja
			= ' | '
			a(href='https://github.com/fgborja/civisanalysis.app/issues?state=open') Sugira novas funcionalidades